@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    @apply antialiased;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Prevent content jumping when scrolling */
html {
    overflow-y: scroll;
}
